// --- Category Horizontal filter ---
.category-filter {
  // make space between two product card
  .slick-track {
    margin-top: 40px;
    margin-bottom: 30px;
    .slick-slide {
      padding: 0 10px;
    }
  }

  // next preview button hide
  .slick-prev,
  .slick-next {
    display: none !important;
  }

  // bottom active dot hide
  .slick-dots {
    display: none !important;
  }
}

// --- pagination ---
.p-paginator {
  .p-paginator-pages {
    .p-paginator-page {
      &.p-highlight {
        background: #ffe5e6 !important;
      }
    }
  }
  @media screen and (max-width: 472px) {
    .p-paginator-first,
    .p-paginator-last {
      display: none !important;
    }
  }

  @media screen and (max-width: 375px) {
    .p-paginator-next,
    .p-paginator-prev {
      display: none !important;
    }
  }
}

// --- skeleton ---
.p-skeleton {
  margin: 0;
  padding: 0;
}
